=search_form_for(@q, url:{action: :record_search, id: @sheet.id}, html:{class: "form-search"}) do |f|
  =f.text_field :description_cont, class: "search-query", placeholder: "Search Records"
  =f.submit "Search", class: "btn"