%tr
  %td=sheet.name
  %td
    =sheet.currency
    =sheet.income
    \/-
  %td
    =sheet.currency
    =sheet.expense
    \/-
  %td
    =sheet.currency
    =sheet.pending_income
    \/-
  %td
    =sheet.currency
    =sheet.pending_expense
    \/-
  %td
    =sheet.currency
    =sheet.balance
    \/-
  %td
    =link_to "View", sheet, class: "btn btn-mini"
    =link_to "Edit", edit_sheet_path(sheet), class: "btn btn-mini"
    =link_to "Delete", sheet, method: :delete, class: "btn btn-mini", confirm: "Do you really want to delete #{sheet.name}?"

