.row-fluid
  .span4=render partial: 'search_form'
  .span3=link_to "New Sheet", new_sheet_path, class: "btn btn-primary"

%table.table
  %thead
    %tr
      %th Sheet
      %th Income
      %th Expense
      %th Pending Income
      %th Pending Expense
      %th Balance
      %th Action
  %tbody
    =render @sheets
